*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  padding: 50px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
button{
  padding: 10px 5px;
  margin: 10px;
  background: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}